In [1]:
import pandas as pd
from numpy.random import randn
import numpy as np

### Create a 21 ´ 4 random number matrix with column titles defines as ‘Drill, ‘No_Drill’,
### ‘Frac’, ‘No_Frac’ and name it as ‘Decision’ ( 2points).

In [2]:
seed=100
np.random.seed(seed)
Decision=pd.DataFrame(randn(21,4),
columns='Drill No_Drill Frac No_Frac'.split())
Decision

       Drill  No_Drill      Frac   No_Frac
0  -1.749765  0.342680  1.153036 -0.252436
1   0.981321  0.514219  0.221180 -1.070043
2  -0.189496  0.255001 -0.458027  0.435163
3  -0.583595  0.816847  0.672721 -0.104411
4  -0.531280  1.029733 -0.438136 -1.118318
5   1.618982  1.541605 -0.251879 -0.842436
6   0.184519  0.937082  0.731000  1.361556
7  -0.326238  0.055676  0.222400 -1.443217
8  -0.756352  0.816454  0.750445 -0.455947
9   1.189622 -1.690617 -1.356399 -1.232435
10 -0.544439 -0.668172  0.007315 -0.612939
11  1.299748 -1.733096 -0.983310  0.357508
12 -1.613579  1.470714 -1.188018 -0.549746
13 -0.940046 -0.827932  0.108863  0.507810
14 -0.862227  1.249470 -0.079611 -0.889731
15 -0.881798  0.018639  0.237845  0.013549
16 -1.635529 -1.044210  0.613039  0.736205
17  1.026921 -1.432191 -1.841188  0.366093
18 -0.331777 -0.689218  2.034608 -0.550714
19  0.750453 -1.306992  0.580573 -1.104523
20  0.690121  0.686890 -1.566688  0.904974

### 2. Create ‘Decision_1’ matrix that includes every 3rd row of the ‘Decision’ matrix starting
### from the second row using (4 point):
### a. The ‘iloc’ function (hint: iloc[m::n] selects every nth row starting from the mth row).
### b. The ‘drop’ function.

In [3]:
Decision_1 = Decision.iloc[2::3]
Decision_1

       Drill  No_Drill      Frac   No_Frac
2  -0.189496  0.255001 -0.458027  0.435163
5   1.618982  1.541605 -0.251879 -0.842436
8  -0.756352  0.816454  0.750445 -0.455947
11  1.299748 -1.733096 -0.983310  0.357508
14 -0.862227  1.249470 -0.079611 -0.889731
17  1.026921 -1.432191 -1.841188  0.366093
20  0.690121  0.686890 -1.566688  0.904974

In [4]:
Decision_1 = Decision.drop(labels=[0,1,3,4,6,7,9,10,12,13,15,16,18,19])
Decision_1

       Drill  No_Drill      Frac   No_Frac
2  -0.189496  0.255001 -0.458027  0.435163
5   1.618982  1.541605 -0.251879 -0.842436
8  -0.756352  0.816454  0.750445 -0.455947
11  1.299748 -1.733096 -0.983310  0.357508
14 -0.862227  1.249470 -0.079611 -0.889731
17  1.026921 -1.432191 -1.841188  0.366093
20  0.690121  0.686890 -1.566688  0.904974

### 3. Create ‘Decision_2’ matrix that selects all the rows of the ‘Decision’ matrix that (4 points):
### a. The ‘Drill’ column value is positive.
### b. The ‘Drill’ and ‘Frac’ column values are positive.

In [5]:
Decision_2 = Decision[Decision.Drill > 0]
Decision_2

       Drill  No_Drill      Frac   No_Frac
1   0.981321  0.514219  0.221180 -1.070043
5   1.618982  1.541605 -0.251879 -0.842436
6   0.184519  0.937082  0.731000  1.361556
9   1.189622 -1.690617 -1.356399 -1.232435
11  1.299748 -1.733096 -0.983310  0.357508
17  1.026921 -1.432191 -1.841188  0.366093
19  0.750453 -1.306992  0.580573 -1.104523
20  0.690121  0.686890 -1.566688  0.904974

In [6]:
Decision_2 = Decision[(Decision.Drill > 0) & (Decision.Frac > 0)]
Decision_2

       Drill  No_Drill      Frac   No_Frac
1   0.981321  0.514219  0.221180 -1.070043
6   0.184519  0.937082  0.731000  1.361556
19  0.750453 -1.306992  0.580573 -1.104523